.Footer {
  background: #f8f8f8;
  margin: auto 0 0;
  padding: 0 24px;
}

.Footer_Inner {
  min-width: 0;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 16px 0;
}

@media (width >= 600px) {
  .Footer {
    padding: 0 40px;
  }
}

.SiteName {
  display: flex;
  align-items: center;
  color: #333;
  text-decoration: none;
}

.CopyRight {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #333;
}

.Link {
  padding: 0 0 0 12px;
  margin: 0 0 0 12px;
  line-height: 1;
}

.Link > a {
  color: #333;
  text-decoration: none;
}

.Link > a:hover {
  color: #333;
  text-decoration: underline;
}
